/* Styles for the header */
header {
    background-color: #3f51b5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    z-index: 1000;
  }
  
  .header-nav {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between h1 and button */
    align-items: center; /* Vertically center the items */
    padding: 0 16px; /* Optional padding */
    background-color: #f8f8f8; /* Optional background color */
  }
  
  /* Sidenav and content container */
  .sidenav-container {
    height: 100vh;
  }
  
  mat-sidenav {
    width: 250px;
    background-color: #fff;
  }
  
  mat-sidenav-content {
    padding: 20px;
  }
  
  /* Highlight active link */
  mat-nav-list a.active {
    background-color: #e0e0e0;
    font-weight: bold;
  }
  